@import "./../Common.less";
.login{
  width:100%;
  height:100%;
  background: #F5F5F5;
  .container{
    padding:1.72rem  0rem 0rem 0rem;
    box-sizing: border-box;
    width:100%;
    .title{
      font-size:@title_size;
      padding-left:1.53rem;
    }
    .detail{
      padding-top:1.22rem;
      box-sizing: border-box;
      .phoneNumber{
        margin:0rem .5rem;
        @phoneItemHeight:1rem;
        .phoneItem{
          height:@phoneItemHeight;
          border-bottom:1px solid #939393;
          line-height: @phoneItemHeight;
          .textLable{
            width:1.5rem;
            font-size:@min_font_size_30;
            padding-left:.2rem;
            box-sizing: border-box;
            height:@phoneItemHeight;
          }
          input{
            display: block;
            width:3.5rem;
            border:none;
            outline: none;
            font-size:@min_font_size_30;
            padding-left:.2rem;
            background: transparent;
          }
          .code{
            flex:1;
            font-size:@min_font_size_24;
            text-align: center;
            color: #FF4200;
            height:@phoneItemHeight;
          }
        }
      }
      .waringInfoDetail{
        padding-top:0.23rem;
        padding-left:1.48rem;
        color: #aeaeae;
        font-size:@min_font_size_18;
      }
      .agree{
        padding-top:.28rem;
        color: #000000;
        font-size:@min_font_size_18;
        padding-left:1.48rem;
        .agreeItem{
          height:.27rem;
          line-height:.27rem;
          position: relative;
          .icon{
            width:12px;
            height:12px;
            position: absolute;
            top:50%;
            margin-top:-6px;
          }
        }
        .imageIcon{
          min-width:.24rem;
          padding-right:.12rem;
        }
        .contentsDetail{
          color: #FF4200;
        }
      }
    }
    .loginBtn{
      padding-top:.77rem;
      padding-left:1.09rem;
      .errorMsg{
        padding-left:.39rem;
        padding-bottom:.23rem;
        font-size:@min_font_size_18;
      }
      .button{
        width:5.33rem;
        height:.94rem;
        line-height: .94rem;
        color: #ffffff;
        background: url("./../../images/login_bg.png") no-repeat;
        background-size:5.33rem .94rem;
        text-align: center;
        font-weight: 500;
        font-size:@title_size;
      }
    }
  }
}