.displayFlex {
  display: flex;
  -webkit-display: flex;
}
.amap-logo,
.amap-copyright,
.amap-call {
  display: none !important;
}
.mint-toast-text {
  font-size: 0.24rem;
}
.login {
  width: 100%;
  height: 100%;
  background: #F5F5F5;
}
.login .container {
  padding: 1.72rem 0rem 0rem 0rem;
  box-sizing: border-box;
  width: 100%;
}
.login .container .title {
  font-size: 0.48rem;
  padding-left: 1.53rem;
}
.login .container .detail {
  padding-top: 1.22rem;
  box-sizing: border-box;
}
.login .container .detail .phoneNumber {
  margin: 0rem 0.5rem;
}
.login .container .detail .phoneNumber .phoneItem {
  height: 1rem;
  border-bottom: 1px solid #939393;
  line-height: 1rem;
}
.login .container .detail .phoneNumber .phoneItem .textLable {
  width: 1.5rem;
  font-size: 0.3rem;
  padding-left: 0.2rem;
  box-sizing: border-box;
  height: 1rem;
}
.login .container .detail .phoneNumber .phoneItem input {
  display: block;
  width: 3.5rem;
  border: none;
  outline: none;
  font-size: 0.3rem;
  padding-left: 0.2rem;
  background: transparent;
}
.login .container .detail .phoneNumber .phoneItem .code {
  flex: 1;
  font-size: 0.24rem;
  text-align: center;
  color: #FF4200;
  height: 1rem;
}
.login .container .detail .waringInfoDetail {
  padding-top: 0.23rem;
  padding-left: 1.48rem;
  color: #aeaeae;
  font-size: 0.18rem;
}
.login .container .detail .agree {
  padding-top: 0.28rem;
  color: #000000;
  font-size: 0.18rem;
  padding-left: 1.48rem;
}
.login .container .detail .agree .agreeItem {
  height: 0.27rem;
  line-height: 0.27rem;
  position: relative;
}
.login .container .detail .agree .agreeItem .icon {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  margin-top: -6px;
}
.login .container .detail .agree .imageIcon {
  min-width: 0.24rem;
  padding-right: 0.12rem;
}
.login .container .detail .agree .contentsDetail {
  color: #FF4200;
}
.login .container .loginBtn {
  padding-top: 0.77rem;
  padding-left: 1.09rem;
}
.login .container .loginBtn .errorMsg {
  padding-left: 0.39rem;
  padding-bottom: 0.23rem;
  font-size: 0.18rem;
}
.login .container .loginBtn .button {
  width: 5.33rem;
  height: 0.94rem;
  line-height: 0.94rem;
  color: #ffffff;
  background: url("../../images/login_bg.png") no-repeat;
  background-size: 5.33rem 0.94rem;
  text-align: center;
  font-weight: 500;
  font-size: 0.48rem;
}
