.displayFlex {
  display: flex;
  -webkit-display: flex;
}
.amap-logo,
.amap-copyright,
.amap-call {
  display: none !important;
}
.mint-toast-text {
  font-size: 0.3rem;
}
.LoginVerfy {
  height: 100%;
  background: #F5F5F5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.06rem 0.81rem 0rem 0.82rem;
}
.LoginVerfy .title {
  color: #000;
  font-size: 0.48rem;
  font-weight: 500;
}
.LoginVerfy .contentsTime {
  padding-top: 0.71rem;
  font-size: 0.3rem;
}
.LoginVerfy .contentsTime .time {
  flex: 1;
  text-align: left;
  padding-left: 0.92rem;
}
.LoginVerfy .verifiyCode {
  padding-top: 0.85rem;
}
.LoginVerfy .verifiyCode .codeItem {
  flex: 1;
  padding-bottom: 0.15rem;
  border-bottom: 1px solid #737373;
  margin-right: 3%;
}
.LoginVerfy .verifiyCode .codeItem input {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #F5F5F5;
  text-align: center;
  color: #000000;
  font-size: 0.48rem;
  font-weight: 500;
  height: 0.46rem;
  line-height: 0.46rem;
}
.LoginVerfy .verifiyCode .codeItem:last-child {
  margin-right: 0;
}
.LoginVerfy .againCode {
  padding-top: 0.38rem;
  text-align: right;
}
.LoginVerfy .againCode span {
  display: inline-block;
  height: 0.46rem;
  line-height: 0.46rem;
  background: #d4d4d4;
  border-radius: 0.08rem;
  font-size: 0.24rem;
  color: #ffffff;
  padding: 0rem 0.08rem;
}
.LoginVerfy .codeValiable span {
  background: none;
  color: #000;
}
.LoginVerfy .btn {
  padding-top: 0.37rem;
}
.LoginVerfy .btn .errorMsg {
  padding-bottom: 0.23rem;
  font-size: 0.24rem;
}
.LoginVerfy .btn .button {
  width: 5.87rem;
  height: 0.94rem;
  color: #ffffff;
  background: url("../../images/login_bg.png") no-repeat;
  background-size: 5.87rem 0.94rem;
  line-height: 0.94rem;
  text-align: center;
  font-weight: 500;
  font-size: 0.48rem;
}
