.displayFlex {
  display: flex;
  -webkit-display: flex;
}
.amap-logo,
.amap-copyright,
.amap-call {
  display: none !important;
}
.mint-toast-text {
  font-size: 0.3rem;
}
.OrderList {
  width: 100%;
  height: 100%;
  background: #F5F5F5;
  padding: .3rem .2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.OrderList .orderItem {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.19);
  border-radius: 0.15rem;
  margin-top: .3rem;
}
.OrderList .orderItem .contents {
  padding-left: .64rem;
  padding-right: .4rem;
}
.OrderList .orderItem .contents .title {
  height: .67rem;
  line-height: .67rem;
  position: relative;
  font-size: 0.32rem;
}
.OrderList .orderItem .contents .title .status {
  color: #878787;
  font-size: inherit;
}
.OrderList .orderItem .contents .title .time {
  color: #878787;
  font-size: inherit;
  flex: 1;
  text-align: right;
}
.OrderList .orderItem .contents .title:after {
  position: absolute;
  content: '';
  width: 5.39rem;
  height: 1px;
  background: #dbdbdb;
  left: 0rem;
  bottom: 0rem;
}
.OrderList .orderItem .contents .addressName .start .startIcon,
.OrderList .orderItem .contents .addressName .end .startIcon,
.OrderList .orderItem .contents .addressName .number .startIcon,
.OrderList .orderItem .contents .addressName .start .endIcon,
.OrderList .orderItem .contents .addressName .end .endIcon,
.OrderList .orderItem .contents .addressName .number .endIcon,
.OrderList .orderItem .contents .addressName .start .timeIcon,
.OrderList .orderItem .contents .addressName .end .timeIcon,
.OrderList .orderItem .contents .addressName .number .timeIcon {
  width: .16rem;
  height: .16rem;
}
.OrderList .orderItem .contents .addressName .start span,
.OrderList .orderItem .contents .addressName .end span,
.OrderList .orderItem .contents .addressName .number span {
  font-size: 0.32rem;
  color: #000;
  padding-left: .1rem;
}
.OrderList .orderItem .contents .addressName .number {
  padding-bottom: .17rem;
}
.OrderList .orderItem .contents .orderItemCancel {
  padding-top: .34rem;
}
.OrderList .orderItem .contents .orderItemCancel .start {
  padding-bottom: .23rem;
  position: relative;
}
.OrderList .orderItem .contents .orderItemCancel .start:after {
  position: absolute;
  content: '';
  height: .45rem;
  border-left: 2px dotted  #C5C5C5;
  left: 0.05rem;
  top: .3rem;
}
.OrderList .orderItem .contents .orderItemCancel .end {
  padding-bottom: .29rem;
}
.OrderList .orderItem .contents .orderGoing {
  padding-top: .18rem;
  padding-bottom: .18rem;
}
.OrderList .orderItem .contents .orderGoing .start {
  padding-bottom: .05rem;
  position: relative;
}
.OrderList .orderItem .contents .orderGoing .start:after {
  position: absolute;
  content: '';
  height: .3rem;
  border-left: 2px dotted  #C5C5C5;
  left: 0.05rem;
  top: .3rem;
}
.OrderList .orderItem .contents .orderGoing .number {
  padding-bottom: .18rem;
}
.OrderList .orderItem .contents .price {
  flex: 1;
  text-align: right;
  padding-top: .2rem;
  color: #000;
  font-size: 0.3rem;
}
.OrderList .orderItem .contents .price .priceTile {
  font-weight: 400;
}
.OrderList .orderItem .contents .price .priceNumber {
  padding-top: .22rem;
}
.OrderList .orderItem:first-child {
  margin-top: 0rem;
}
.OrderList .noData {
  width: 100%;
  height: 100%;
}
.OrderList .noData .noDataContents {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.OrderList .noData .noDataContents img {
  width: 1rem;
  height: 1rem;
  padding-bottom: .2rem;
}
