.displayFlex {
  display: flex;
  -webkit-display: flex;
}
.amap-logo,
.amap-copyright,
.amap-call {
  display: none !important;
}
.mint-toast-text {
  font-size: 0.3rem;
}
.Orderpay {
  width: 100%;
  height: 100%;
  background: #F5F5F5;
  box-sizing: border-box;
}
.Orderpay .boxContents .addressBox {
  padding-top: 0.23rem;
}
.Orderpay .boxContents .noPaddingAddressBox {
  padding-top: 0rem;
}
.Orderpay .boxContents .contents {
  width: 7.1rem;
  margin: 0 auto;
  background: #ffffff;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  border-radius: 0.15rem;
  box-sizing: border-box;
  padding: 0rem 0.57rem 0rem 0.33rem;
  box-shadow: -5px 0 3px #F6EFE7, 0px 0px 0px #f5f5f5, 0px 34px 20px #F6EFE7, 5px 0 3px #F6EFE7;
}
.Orderpay .boxContents .contents .destination {
  padding-top: 0.1rem;
  position: relative;
}
.Orderpay .boxContents .contents .destination .menu {
  position: relative;
  height: 0.6rem;
  line-height: 0.6rem;
}
.Orderpay .boxContents .contents .destination .menu .menuItemIcon {
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.Orderpay .boxContents .contents .destination .menu .label {
  color: #000;
  font-size: 0.32rem;
  display: block;
  line-height: 0.6rem;
  padding-left: 0.5rem;
  width: 4rem;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Orderpay .boxContents .contents .destination .detail_address .label {
  color: #999;
  font-size: 0.24rem;
}
.Orderpay .boxContents .contents .destination .dotDiv {
  width: 0.25rem;
  height: 0.35rem;
  position: absolute;
  top: 0.5rem;
  left: 0rem;
}
.Orderpay .boxContents .contents .destination .dotDiv img {
  width: 0.25rem;
}
.Orderpay .boxContents .contents .price {
  flex: 1;
  text-align: right;
  color: #000;
  font-size: 0.32rem;
}
.Orderpay .boxContents .contents .price .priceTile,
.Orderpay .boxContents .contents .price .priceNumber,
.Orderpay .boxContents .contents .price .payStatus {
  height: 0.6rem;
  line-height: 0.6rem;
}
.Orderpay .boxContents .contents .price .payStatus {
  color: #FF5700;
}
.Orderpay .boxContents .contents .orderAction {
  padding: 0.32rem 0rem 0.2rem 0.23rem;
}
.Orderpay .boxContents .contents .orderAction .actionItem {
  flex: 1;
}
.Orderpay .boxContents .contents .orderAction .actionItem span {
  height: 0.54rem;
  line-height: 0.54rem;
  border-radius: 0.27rem;
  border: 0.03rem solid #D0CECE;
  font-size: 0.32rem;
  width: 1.52rem;
  display: inline-block;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Orderpay .boxContents .contents .orderAction .actionItem:last-child {
  text-align: right;
}
.Orderpay .boxContents .contents .orderAginOrder {
  padding: 0.1rem 0rem;
  font-size: 0.24rem;
  color: #1BAC2E;
}
.Orderpay .info {
  padding: 0.32rem 0rem 0.34rem 0rem;
}
.Orderpay .info .label {
  width: 7.1rem;
  background: #ffffff;
  height: 0.7rem;
  line-height: 0.7rem;
  text-align: center;
  border-radius: 0.15rem;
  font-size: 0.3rem;
  margin: 0 auto;
}
.Orderpay .mapContainer {
  width: 100%;
  height: 100%;
  border-radius: 0.15rem;
}
.Orderpay .mapContainer .amap-lib-driving {
  display: none !important;
}
.Orderpay .bottomPay {
  height: 2.03rem;
  position: fixed;
  bottom: 0rem;
  width: 100%;
  padding: 0.55rem 0.2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
}
.Orderpay .bottomPay .pay {
  flex: 1;
  height: 0.94rem;
  line-height: 0.94rem;
  color: #ffffff;
  text-align: center;
  background: linear-gradient(128deg, #ff8e01, #ff5700);
  border-radius: 0.47rem;
  margin: 0 auto;
  font-size: 0.48rem;
  font-weight: 500;
}
.Orderpay .bottomPay .pay:first-child {
  margin-right: 0.5rem;
}
.Orderpay .driverInfo {
  position: fixed;
  bottom: 0.2rem;
  width: 7.1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #ffffff;
  box-shadow: 0rem 0rem 0.16rem 0rem rgba(0, 0, 0, 0.19);
  border-radius: 0.15rem;
  padding-top: 0.2rem;
}
.Orderpay .driverInfo .driverLogo img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0rem 0.2rem;
}
.Orderpay .driverInfo .driverContents {
  flex: 1;
}
.Orderpay .driverInfo .driverContents .name {
  border-bottom: 1px solid #ececec;
  padding-bottom: 0.1rem;
}
.Orderpay .driverInfo .driverContents .contentsBox {
  position: relative;
}
.Orderpay .driverInfo .driverContents .contentsBox .carInfo {
  padding: 0.1rem 0rem;
}
.Orderpay .driverInfo .driverContents .contentsBox .evaluate {
  padding-bottom: 0.1rem;
  margin-right: 1.2rem;
}
.Orderpay .driverInfo .driverContents .contentsBox .evaluate img {
  width: 0.4rem;
  height: 0.4rem;
}
.Orderpay .driverInfo .driverContents .contentsBox .telphone {
  position: absolute;
  top: 0rem;
  right: 0.2rem;
}
.Orderpay .driverInfo .driverContents .contentsBox .telphone img {
  width: 1rem;
  height: 1rem;
}
.Orderpay .detailAddress {
  width: 100%;
  background: #ffffff;
  position: fixed;
  z-index: 1000;
  padding: 0rem 0.3rem;
  animation: showAddress 0.5s ease;
  animation-fill-mode: forwards;
}
.Orderpay .detailAddress .addreessItem {
  padding: 0.3rem 0rem;
  border-bottom: 1px solid #ececec;
}
.Orderpay .noData {
  position: fixed;
  width: 100%;
  height: 100%;
}
.Orderpay .noData .title {
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@keyframes showAddress {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0rem;
  }
}
