@import "./../Common.less";
.changePhone{
  .contents{
    padding:.3rem .2rem;
    .item{
      height: 1rem;
      border-bottom: 1px solid #efe9e9;
      line-height: 1rem;
      font-size:@min_font_size_32;
      color: #999;
      .label{
        width:2rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 1rem;
      }
      .value{
        input{
          display: block;
          flex: 1;
          border: none;
          outline: none;
          padding-left: .2rem;
          background: transparent;
          height: 100%;
          font-size: inherit;
        }
      }
    }
    .button{
      height:.6rem;
      line-height:.6rem;
      color: #ffffff;
      text-align: center;
      background:linear-gradient(128deg,rgba(255,142,1,1),rgba(255,87,0,1));
      border-radius:.2rem;
      margin:0 auto;
      font-size:.36rem;
      font-weight:500;
      margin-top: .3rem;
      letter-spacing: 2px;
      font-weight: bold;
    }
    .errorMsg{
      margin-top: .3rem;
      img{
        width: .3rem;
        height: .3rem;
      }
      div{
        color:#d81e06;
        line-height: .3rem;
        font-size: @min_font_size_18;
        padding-left: .2rem;
      }
    }
  }
}
