@import "./../Common.less";
.indexAddressSelect{
  position: absolute;
  width:100%;
  min-height:100%;
  z-index:9999;
  background: #ffffff;
  top:0rem;
  left:100%;
  animation:addressMove .5s ease;
  animation-fill-mode: forwards;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .title{
    height:1rem;
    line-height:1rem;
    padding:0rem .2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .city{
      .cityName{
        position: relative;
        padding-right:.3rem;
        img{
          width:.2rem;
          height:.2rem;
          position: absolute;
          right:0rem;
          top:50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
      .nocity{
        color: #999999;
      }
    }
    .poiSearch{
      flex:1;
      input{
        width:100%;
        border:none;
        outline: none;
        padding:0rem;
        padding-left:.2rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size:@min_font_size_24;
      }
    }
    .cancel{
      color: #FF8501;
    }
  }
  .contents{
    border-top:10px solid #ececec;
    padding:0rem .2rem;
    .cityList{
      .listItem{
        height:.8rem;
        line-height:.8rem;
        border-bottom:1px solid #ececec;
        color: #999999;
      }
    }
    .recommentList{
      .recommentItem{
        height: .8rem;
        line-height:.8rem;
        border-bottom:1px solid #ececec;
        color: #999999;
        .text{
          flex:1;
        }
        .label{
          color: #008000;
          font-size:@min_font_size_18;
          img{
            padding-left:.1rem;
            width:.2rem;
            height:.2rem;
          }
        }
      }
      .searchItem{
        padding:.2rem 0rem;
        border-bottom:1px solid #ececec;
        .textBox{
          flex:1;
          .name{
            padding-bottom:.2rem;
          }
          .text{
            font-size:@min_font_size_18;
            color: #999;
          }
        }
        .label{
          position: relative;
          img{
            padding-left:.1rem;
            position: absolute;
            right:.2rem;
            width:.25rem;
            height:.25rem;
            top:50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
@keyframes addressMove {
  0%{
    left:100%;
  }
  100%{
    left:0rem;
  }
}
