.displayFlex {
  display: flex;
  -webkit-display: flex;
}
.amap-logo,
.amap-copyright,
.amap-call {
  display: none !important;
}
.mint-toast-text {
  font-size: 0.3rem;
}
.Index {
  height: 100%;
  /*拼车包车，预约车位信息*/
}
.Index .container {
  height: 100%;
}
.Index .inputContainer {
  height: 8rem;
}
.Index .headImage {
  position: fixed;
  top: 0.18rem;
  left: 0.34rem;
  width: 1.2rem;
  height: 1.2rem;
}
.Index .headImage img {
  width: 100%;
  height: 100%;
}
.Index .carpoorCharter {
  position: absolute;
  width: 7.1rem;
  bottom: 0.22rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.Index .carpoorCharter .position {
  text-align: right;
}
.Index .carpoorCharter .position img {
  width: 0.6rem;
  height: 0.6rem;
}
.Index .carpoorCharter .contents {
  background: #ffffff;
  box-shadow: 0rem 0rem 0.16rem 0rem rgba(0, 0, 0, 0.19);
  border-radius: 0.15rem;
  padding-top: 0.14rem;
  padding-left: 0.25rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Index .carpoorCharter .menu .menuItem {
  width: 1.04rem;
  height: 0.42rem;
  line-height: 0.42rem;
  text-align: center;
  border: 1px solid #e2e2e2;
  border-radius: 0.21rem;
  color: #878787;
  font-size: 0.32rem;
  margin-right: 0.73rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Index .carpoorCharter .menu .appointment {
  margin-right: 0.17rem;
  flex: 1;
  border: none;
  border-radius: 0rem;
  text-align: right;
}
.Index .carpoorCharter .menu .appointment img {
  width: 1.17rem;
  height: 0.42rem;
}
.Index .carpoorCharter .menu .active {
  background: url("../../images/index_car_bg.png") no-repeat;
  -webkit-background-size: 1.04rem 0.42rem;
  background-size: 1.04rem 0.42rem;
  color: #ffffff;
  border: none;
}
.Index .carpoorCharter .destination {
  padding: 0.37rem 0rem 0.23rem 0rem;
  /*预约时间*/
}
.Index .carpoorCharter .destination .appointTime {
  text-align: center;
  padding-bottom: 0.45rem;
}
.Index .carpoorCharter .destination .appointTime span {
  color: #000;
  font-size: 0.32rem;
  position: relative;
  padding-right: 0.2rem;
}
.Index .carpoorCharter .destination .appointTime span:after {
  position: absolute;
  content: '';
  right: 0rem;
  top: 50%;
  width: 0.09rem;
  height: 0.09rem;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  transform: translate(0%, -50%) rotate(45deg);
}
.Index .carpoorCharter .destination .start,
.Index .carpoorCharter .destination .end {
  position: relative;
}
.Index .carpoorCharter .destination .start .img,
.Index .carpoorCharter .destination .end .img {
  position: relative;
  height: 0.69rem;
  width: 0.16rem;
}
.Index .carpoorCharter .destination .start .img .iconImage,
.Index .carpoorCharter .destination .end .img .iconImage {
  width: 0.16rem;
  height: 0.16rem;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.Index .carpoorCharter .destination .start input,
.Index .carpoorCharter .destination .end input {
  height: 0.69rem;
  line-height: 0.69rem;
  border: none;
  outline: none;
  display: block;
  border-bottom: 1px solid #dbdbdb;
  flex: 1;
  margin-left: 0.3rem;
  padding-bottom: 0.23rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.32rem;
}
.Index .carpoorCharter .destination .start .repeatPosition,
.Index .carpoorCharter .destination .end .repeatPosition {
  padding-right: 0.3rem;
  padding-left: 0.4rem;
  position: relative;
}
.Index .carpoorCharter .destination .start .repeatPosition .positionImg,
.Index .carpoorCharter .destination .end .repeatPosition .positionImg {
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  left: 0rem;
  bottom: 0.23rem;
}
.Index .carpoorCharter .destination .start .repeatPosition .positionLable,
.Index .carpoorCharter .destination .end .repeatPosition .positionLable {
  font-size: 0.32rem;
}
.Index .carpoorCharter .destination .start:after {
  position: absolute;
  content: '';
  height: 0.6rem;
  border-left: 2px dotted #C5C5C5;
  left: 0.05rem;
  top: 0.32rem;
}
.Index .carpoorCharter .destination .end input {
  border: none;
  padding-top: 0.23rem;
  padding-bottom: 0rem;
  font-size: 0.32rem;
}
.Index .carpoorCharter .destination .errorMsg {
  padding: 0.2rem;
  font-size: 0.3rem;
}
.Index .carpoorCharter .numberRemarks {
  width: 100%;
  background: #ffffff;
  margin-top: 0.1rem;
  box-shadow: 0rem 0rem 0.16rem 0rem rgba(0, 0, 0, 0.19);
  border-radius: 0.2rem;
  height: 1.4rem;
  padding-left: 0.64rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Index .carpoorCharter .numberRemarks .item {
  height: 0.7rem;
  width: 5.39rem;
  padding-bottom: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 0.7rem;
  font-size: 0.32rem;
}
.Index .carpoorCharter .numberRemarks .item .label {
  font-size: inherit;
}
.Index .carpoorCharter .numberRemarks .item .value {
  font-size: inherit;
  flex: 1;
}
.Index .carpoorCharter .numberRemarks .item .value input {
  border: none;
  outline: none;
  padding-left: 0.26rem;
  font-size: inherit;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Index .carpoorCharter .numberRemarks .item:first-child {
  border-bottom: 1px solid #dbdbdb;
}
.Index .carpoorCharter .publishButton {
  width: 100%;
  background: #ffffff;
  border-radius: 0.2rem 0.2rem 0rem 0rem;
  margin-top: 0.15rem;
  padding-bottom: 0.16rem;
}
.Index .carpoorCharter .publishButton .price {
  text-align: center;
  padding: 0.25rem 0rem 0.4rem 0rem;
  color: #131313;
  font-size: 0.36rem;
}
.Index .carpoorCharter .publishButton .publish {
  height: 0.94rem;
  background: linear-gradient(128deg, #ff8e01, #ff5700);
  border-radius: 47px;
  margin: 0 auto;
  width: 5.33rem;
  text-align: center;
  color: #ffffff;
  line-height: 0.94rem;
  font-size: 0.48rem;
}
.Index .inputCarpoorCharter {
  bottom: 0rem;
}
.Index .userInfo {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0rem;
  left: -100%;
  z-index: 200;
  background: rgba(0, 0, 0, 0.2);
}
.Index .userInfo .contents {
  height: 100%;
  width: 100%;
}
.Index .userInfo .contents .menu {
  height: 100%;
  width: 65%;
  background: #ffffff;
}
.Index .userInfo .contents .menu .img {
  padding-top: 0.29rem;
  text-align: center;
}
.Index .userInfo .contents .menu .img img {
  width: 1.2rem;
  height: 1.2rem;
}
.Index .userInfo .contents .menu .phone {
  padding-top: 0.31rem;
  color: #131313;
  font-size: 0.3rem;
  text-align: center;
}
.Index .userInfo .contents .menuList {
  padding: 0.75rem 0rem 0rem 0.52rem;
}
.Index .userInfo .contents .menuList .menuItem {
  height: 0.36rem;
}
.Index .userInfo .contents .menuList .menuItem .icon {
  width: 0.32rem;
  height: 100%;
  padding-right: 0.36rem;
}
.Index .userInfo .contents .menuList .menuItem .labelName {
  display: inline-block;
  height: 100%;
  line-height: 0.36rem;
  color: #131313;
  font-size: 0.32rem;
}
.Index .userInfo .contents .transparentBlock {
  flex: 1;
}
.Index .showUserInfo {
  animation: userShow 0.5s;
  animation-fill-mode: forwards;
}
.Index .hideUserInfo {
  animation: userHide 0.5s;
  animation-fill-mode: forwards;
}
.Index .amap-logo,
.Index .amap-copyright {
  z-index: -1;
}
@keyframes userShow {
  0% {
    left: -100%;
  }
  100% {
    left: 0rem;
  }
}
@keyframes userHide {
  0% {
    left: 0rem;
  }
  100% {
    left: -100%;
  }
}
