.Index{
  height:100%;
  .container{
    height:100%;
  }
  .headImage{
    position: fixed;
    top:0.18rem;
    left:0.34rem;
    width:1.2rem;
    height:1.2rem;
    img{
      width:100%;
      height:100%;
    }
  }
}